<% include header %>
    <!-- Intestazione -->
    <div class="my-jumbotron-condividi">
      <div class="container">
        <h1 class="display-2 my-red">My Trekking</h1>
        <p class="my-white"><%=translation.__("INCIPIT")%></p>
      </div>
    </div>
	<!-- Vari campi che descrivono il percorso -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><%=translation.__("CONDIVIDI")%></h2>
		  <br/>
        </div>
		<!-- Qui descrivo come profilarsi -->
        <div class="col-md-8 my-col-padding">
		      <%=translation.__("CONDIVIDIHELP11")%>
		      <%=translation.__("CONDIVIDIHELP12")%>
		      <%=translation.__("CONDIVIDIHELP13")%>
        </div>
        <div class="col-md-4 text-center">
		      <figure>
			  <img src='/images/Profilazione.jpg' class="img-thumbnail" alt="Profilazione" > 
			  <br/>
			  <figcaption><%=translation.__("CONDIVIDIHELP14")%><figcaption>
			  </figure>
        </div>
		<!-- Qui descrizo quello che si vede nella finestra main -->
        <div class="col-md-8 my-col-padding">
		      <%=translation.__("CONDIVIDIHELP15")%>
		      <%=translation.__("CONDIVIDIHELP16")%>
		      <%=translation.__("CONDIVIDIHELP17")%>
        </div>
        <div class="col-md-4 text-center">
		      <figure>
			  <img src='/images/MiaPosizioneHelp.jpg' class="img-thumbnail" alt="Profilazione" > 
			  <br/>
			  <figcaption><%=translation.__("CONDIVIDIHELP18")%><figcaption>
			  </figure>
        </div>
		<!-- Qui descrivo quello che si vede nel dettaglio della mappa CaltranoSunio -->
        <div class="col-md-8 my-col-padding">
		      <%=translation.__("CONDIVIDIHELP19")%>
		      <%=translation.__("CONDIVIDIHELP20")%>
		      <%=translation.__("CONDIVIDIHELP21")%>
        </div>
        <div class="col-md-4 text-center">
		      <figure>
			  <img src='/images/MiaPosizioneHelpDettagli.jpg' class="img-thumbnail" alt="Mappa con Markers" > 
			  <br/>
			  <figcaption><%=translation.__("CONDIVIDIHELP22")%><figcaption>
			  </figure>
        </div>
		<!-- Qui descrivo quello che si vede nella tabella -->
        <div class="col-md-8 my-col-padding">
		      <%=translation.__("CONDIVIDIHELP23")%>
		      <%=translation.__("CONDIVIDIHELP24")%>
        </div>
        <div class="col-md-4 text-center">
		      <figure>
			  <img src='/images/MiaPosizioneHelpTabella.jpg' class="img-thumbnail" alt="Tabella Commenti" > 
			  <br/>
			  <figcaption><%=translation.__("CONDIVIDIHELP25")%><figcaption>
			  </figure>
        </div>
		<!-- Qui descrivo i dettagli dei marker -->
        <div class="col-md-8 my-col-padding">
		      <%=translation.__("CONDIVIDIHELP26")%>
		      <%=translation.__("CONDIVIDIHELP27")%>
        </div>
        <div class="col-md-4 text-center">
		      <figure>
			  <img src='/images/MiaPosizioneHelpMarkerDetail.jpg' class="img-thumbnail" alt="Dettaglio marker" > 
			  <br/>
			  <figcaption><%=translation.__("CONDIVIDIHELP28")%><figcaption>
			  </figure>
        </div>
      </div>
    </div> 
  <% include footer %>