<% include header %>
    <div class="my-jumbotron-elenco">
      <div class="container">
        <h1 class="display-2 my-white">My Trekking</h1>
        <p class="my-white"><%=translation.__("INCIPIT")%></p>
      </div>
    </div>
    <div class="container my-noscroll">
      <div class="row">
        <div class="col-md-8">
          <h2><%=translation.__("671-673-681-677")%></h2>
          <p>
		  <%=translation.__("671-673-681-677-1")%>
          <%=translation.__("671-673-681-677-2")%>
		  </p>
          <p><a class="btn btn-secondary" href="#" role="button"><%=translation.__("VEDIDETTAGI")%> &raquo;</a></p>
        </div>
        <div class="col-md-4">
		    <img src="/images/671-673-681-677.jpg" class="img-thumbnail" alt="Percorso CAI 671-673-681-677"> 
		</div>	  
      </div>
      <div class="row">
        <div class="col-md-8">
          <h2><%=translation.__("433-455-435")%></h2>
          <p>
		  <%=translation.__("433-455-435-1")%>
          <%=translation.__("433-455-435-2")%>
		  </p>
          <p><a class="btn btn-secondary" href="#" role="button"><%=translation.__("VEDIDETTAGI")%> &raquo;</a></p>
        </div>
        <div class="col-md-4">
		    <img src="/images/433-455-435.jpg" class="img-thumbnail" alt="Percorso CAI 433-455-435"> 
		</div>	  
      </div>
    </div> 
  <% include footer %>