<% include header %>
    <div class="my-jumbotron-elenco">
      <div class="container">
        <h1 class="display-2 my-white">My Trekking</h1>
        <p class="my-white"><%=translation.__("INCIPIT")%></p>
      </div>
    </div>
    <div class="container">
	   <div class="row">
        <div class="col-md-12">
         <%=translation.__("INTROELENCOPERCORSI")%>
        </div>
        <div class="col-md-8">
		  <!--- Caltrano - Capitello Costola - Malga Sunio -->
          <h2><%=translation.__("671-673-681-677")%></h2>
          <p>
		  <%=translation.__("671-673-681-677-1")%>
          <%=translation.__("671-673-681-677-2")%>
		  </p>
          <p><a class="btn btn-secondary" href="/CaltranoSunioCostola" role="button"><%=translation.__("VEDIDETTAGI")%> &raquo;</a></p>
        </div>
        <div class="col-md-4">
		    <img src="/images/671-673-681-677.jpg" class="img-thumbnail" alt="Percorso CAI 671-673-681-677"> 
		</div>	  
        <div class="col-md-8">
		  <!--- Caltrano - Colombara -->
          <h2><%=translation.__("CALTRANOCOLOMBARA")%></h2>
          <p>
		  <%=translation.__("CALTRANOCOLOMBARA1")%>
          <%=translation.__("CALTRANOCOLOMBARA2")%>
		  </p>
          <p><a class="btn btn-secondary" href="/CaltranoColombara" role="button"><%=translation.__("VEDIDETTAGI")%> &raquo;</a></p>
        </div>
        <div class="col-md-4">
		    <img src="/images/CaltranoColombara.jpg" class="img-thumbnail" alt="Percorso Caltrano Colombara"> 
		</div>	  
        <div class="col-md-8">
		  <!--- Contrà Rossi - Monte Novegno - Monte Priaforà -->
          <h2><%=translation.__("433-455-435")%></h2>
          <p>
		  <%=translation.__("433-455-435-1")%>
          <%=translation.__("433-455-435-2")%>
		  </p>
          <p><a class="btn btn-secondary" href="/NovegnoPriafora" role="button"><%=translation.__("VEDIDETTAGI")%> &raquo;</a></p>
        </div>
        <div class="col-md-4">
		    <img src="/images/433-455-435.jpg" class="img-thumbnail" alt="Percorso CAI 433-455-435"> 
		</div>	  
    </div> 
  <% include footer %>