<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Luca Bicego">
    <title>My Trekking </title>
    <link href="images/favicon.ico" rel="icon">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">
  </head>
  <body >
    <!-- Barra di Navigazione -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <!-- Ancora alla Home Page  -->
	  <% if (currentUser) { %>
	     <a class="navbar-brand" href="/"><%=translation.__("BENVENUTO")%><span id="currentUser"><%= currentUser.name() %></span></a>
 	  <% } else { %>
         <a class="navbar-brand" href="/">Home</a>
 	  <% }%>
	  <!-- Qui è definito un pulsante per la navigazione -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" 
	          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
	  <!--
	     Qui è definito il menù principale che cambia se l'utente si è profilato
	  -->
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active dropdown">
		    <!--
			   Qui e' definita un drop-down
			   per la scelta del percorso
            -->			
            <a class="nav-link dropdown-toggle" id="dropdown01" href="/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=translation.__("SCEGLI_PERCORSO")%></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/CaltranoSunioCostola">Caltrano - Capitello Costola - Malga Sunio</a>
              <a class="dropdown-item" href="/NovegnoPriafora">Contrà Rossi - Monte Novegno - Monte Priaforà</a>
            </div>
          </li>
	      <% if (currentUser) { %>
		     <!--
               Ultimi Post. Visibile solo per utente profilato		  
		     -->	   
             <li class="nav-item">
                <a class="nav-link disabled" href="#"><%=translation.__("LAST_POST")%></a>
             </li>
 	      <% }%>
		  <!-- 
		     Qui è definito un drop-down
			 per la scelta della lingua
		  -->	   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" href="/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=translation.__("SELEZIONE_LINGUA")%></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/it"><%=translation.__("ITALIANO")%></a>
              <a class="dropdown-item" href="/en"><%=translation.__("INGLESE")%></a>
            </div>
          </li>
        </ul>
		<!-- Vede si c'è un utente profilato -->
		<% if (currentUser) { %>
		   <!-- Gestione Modifica Profilo utente -->
           <form class="form-inline my-2 my-lg-0" action="/signedit" method="get">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%=translation.__("MODIFICA")%></button>
          </form>
		   <!-- Gestione del LogOut -->
           <form class="form-inline my-2 my-lg-0" action="/logout" method="get">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" 
	             aria-expanded="false" aria-label="Toggle navigation">
              </button>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%=translation.__("ESCI")%></button>
           </form>
 	    <% } else { %>
		   <!-- Gestione del LogIn -->
           <form class="form-inline my-2 my-lg-0" action="/login" method="post">
              <input class="form-control mr-sm-2" type="text" name="username" placeholder=<%=translation.__("USER")%> aria-label=<%=translation.__("USER")%>>
              <input class="form-control mr-sm-2" type="password" name="password" placeholder=<%=translation.__("PASSWORD")%> aria-label=<%=translation.__("PASSWORD")%>>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%=translation.__("ACCEDI")%></button>
           </form>
           <form class="form-inline my-2 my-lg-0" action="/signup">
              <button class="btn btn-outline-info my-2 mx-2 my-sm-1" type="submit"><%=translation.__("ISCRIVITI")%></button>
           </form>
		<% } %>
      </div>
    </nav>
