<% include header %>
    <div class="my-jumbotron-info">
      <div class="container">
        <h1 class="display-2">My Trekking</h1>
        <p class="my-white"><%=translation.__("INCIPIT")%></p>
      </div>
    </div>
        <div class="row">
           <div class="col-md-8 my-col-padding">
		      <div align="center">
		         <h1><%=translation.__("INFO")%></h1> 
			  </div>
			  </br>
			  <div>
			  <%=translation.__("INFO1")%>
		      <%=translation.__("INFO2")%>
		      <%=translation.__("INFO3")%>
		      <%=translation.__("INFO4")%>
		      <%=translation.__("INFO5")%>
			  </div>
           </div>
           <div class="col-md-4 text-center">
		      <figure>
			  <img src='/images/CartelliCai.jpg' class="img-thumbnail" alt="Cartelli Cai" > 
			  <br/>
			  <figcaption> Segnavia Cai <figcaption>
			  </figure>
           </div>
        </div>
  <% include footer %>