<% include header %>
    <!-- Pagina Main per utente profilato -->
    <div class="my-jumbotron-main">
      <div class="container">
        <h1 class="display-2 my-white">My Trekking</h1>
        <p class="my-red"><%=translation.__("INCIPIT")%></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center"><%=translation.__("LAMIAPOSIZIONE")%></h2>
        </div>
        <!-- Due colonne -->
        <div class="col-md-3">
          <h3><%=translation.__("LEMIECOORDINATE")%></h3>
          <p id="mialatitudine"><%=translation.__("LATITUDINE")%></p>
          <p id="mialongitudine"><%=translation.__("LONGITUDINE")%></p>
        </div>
        <!-- Visualizza la mappa -->
        <div class="col-md-9 my-second" id="MiaPosizioneMap">
        </div>
		<!-- Visualizza la tabella dei percorsi Vicini -->
        <div class="col-md-12">
          <h2 class="text-center"><%=translation.__("PERCORSIVICINI")%></h2>
          <div>
             <table width='100%' cellspacing='0' class='table table-striped'>
                <thead>
				   <th><%=translation.__('NOMEPERCORSO')%></th>
                   <th><%=translation.__('DISTANZA')%></th>
                </thead>
		        <tbody id="TabellaPercorsi">
                </tbody>
                <tfoot>
				   <th><%=translation.__('NOMEPERCORSO')%></th>
                   <th><%=translation.__('DISTANZA')%></th>
                </tfoot>
		    </table>		
		  </div>
        </div>
      </div>
    </div> 
    <script src="js/myroutine.js"></script>
    <script type="text/javascript">
	   //*********************************************************************
	   /*
	      Funzione eseguita al caricamento della pagina
	   */
       var doOperation = function() 
       {
	      try{
		     getLocation();
	      }
	      catch(err)
	      {
	         alert("main.ejs: "+err);
	      }
       };
	   //*********************************************************************
	   /*
	      Restituisce le coordinate attuali
		  Attenzione. getCurrentPosition() restituisce il valore solo dopo il consenso 
		  da parte dell'utilizzatore del dispositivo
	   */
       function getLocation()
       {
	      try{
		     	var position={'coords':{'latitude':45.803,'longitude':11.4513}};
				showPosition(position);
			 /*
	         if(navigator.geolocation)
	         {
			    //showPosition viene eseguita dopo che l'utente ha dato il consenso
				//ad accedere alla prorpia posizione
		        navigator.geolocation.getCurrentPosition(showPosition,errorPosition,{enableHighAccuracy: false,timeout: 10000,maximumAge: 10000});
	         }
	         else
	         {
		        var x=document.getElementById("mialatitudine");
		        //ERRORE-04 = GeoLocation non supportata!
		         x.innerHtmp=translation.__("ERRORE-04");
	         }
			 */
	      }
	      catch(err)
	      {
	         alert("main::getLocation: "+err);
	      }
	      return;
       }
	   //*********************************************************************
	   /*
	      Mostra le coordinate e carica la mappa
	   */
       function showPosition(position)
       {
	      try{
	         var txtCoord=parseFloat(position.coords.latitude).toFixed(2)+"° ";
	         if(position.coords.latitude >= 0)
	         {
                txtCoord=txtCoord+"Nord <br>";		    
	         }
	         else
	         {
                txtCoord=txtCoord+"Sud <br>";		    
	         }
	         document.getElementById("mialatitudine").innerHTML+=txtCoord;
	         txtCoord=parseFloat(position.coords.longitude).toFixed(2)+"° ";
	         if(position.coords.longitude >= 0)
	         {
                txtCoord=txtCoord+"Est <br>";		    
	         }
	         else
	         {
                txtCoord=txtCoord+"Ovest <br>";		    
	         }
	         document.getElementById("mialongitudine").innerHTML+=txtCoord;
	         var data = {'mapValue':{'lat': position.coords.latitude,'lng':position.coords.longitude}};
	         data.id="MiaPosizioneMap";
	         data.showMarker="SI";
			 data.zoom=12;
			 //Richiama la funzione che fa vedere la mappa
             showMap(data);
	         data.id="TabellaPercorsi";
		     data.AJaxCallBack='/getGeoDistanceTrace';
		     //Fa una chiamata ajax per richiedere le coordinate
		     ajaxCall(data);
	      }
	      catch(err)
	      {
	         alert("main::showPosition: "+err);
	      }
	      return;
       }
	   //*********************************************************************
	   /*
	      Mostra l'errore che si è verificato
	   */
       function errorPosition(err)
       {
	      alert("main::errorPosition:\nError code:"+err.code+"\nError message: "+err.message);
	   }
       window.onload= doOperation;	
	</script>   
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1QXRond8kCPr7sKf_9BQc5bcnA2hgUyQ&callback=initMap" async defer></script>
  <% include footer %>