<% include header %>
    <!-- Pagina per utente profilato che vuole inserire commenti o visualizzare commenti del percorso -->
    <div class="my-jumbotron-camminare">
      <div class="container">
        <h1 class="display-2 my-white">My Trekking</h1>
        <p class="my-red"><%=translation.__("INCIPIT")%></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center"><%=translation.__("PERCORSOSCELTO")%> <%=mapTitle%></h2>
        </div>
        <!-- Visualizza le coordinate su Due colonne -->
        <div class="col-md-3">
          <h3><%=translation.__("LEMIECOORDINATE")%></h3>
          <p id="mialatitudine"><%=translation.__("LATITUDINE")%></p>
          <p id="mialongitudine"><%=translation.__("LONGITUDINE")%></p>
		  <p><button type='button' class='btn btn-success' data-toggle="modal" data-target="#myNewComment"><%=translation.__("INSERISCICOMMENTO")%></button></p>
          <!-- Dialogo Modale per Inserire un Commento -->
          <div class="modal fade" id="myNewComment" role="dialog">
             <div class="modal-dialog modal-dialog-centered">
             <!-- Modal content-->
                <div class="modal-content">
                   <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title"><%=translation.__("INSERISCICOMMENTO")%></h4>
                   </div>
                   <div class="modal-body">
                      <p><%=translation.__("SCRIVICOMMENTO")%></p>
					  <input type="text" class="form-control" id="dialogcomment">
                   </div>
                   <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal"><%=translation.__("CHIUDI")%></button>
                      <button type="button" class="btn btn-default" data-dismiss="modal" onclick="doComment()"><%=translation.__("SALVA")%></button>
                   </div>
                </div>
             </div>
          </div>
          <!-- Dialogo Modale per Eliminare un Commento -->
          <div class="modal fade" id="myDeleteComment" role="dialog">
             <div class="modal-dialog modal-dialog-centered">
             <!-- Modal content-->
                <div class="modal-content">
                   <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title"><%=translation.__("ELIMINACOMMENTO")%></h4>
                   </div>
                   <div class="modal-body">
					  <%=translation.__("ELIMINACOMMENTO1")%>
					  <span id="myDeleteId" style="display:none"></span>
                      <div class="row">
					    <div class="col-sm-4"><%=translation.__("USER")%></div>
						<div class="col-sm-8" id="myDeleteUser"></div>
					    <div class="col-sm-4"><%=translation.__("COMMENTO")%></div>
						<div class="col-sm-8" id="myDeleteUserComment"></div>
					    <div class="col-sm-4"><%=translation.__("DATAORA")%></div>
						<div class="col-sm-8" id="myDeleteData"></div>
					    <div class="col-sm-4"><%=translation.__("POSIZIONE")%></div>
						<div class="col-sm-8" id="myDeletePosizione"></div>
					  </div>
                   </div>
                   <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal"><%=translation.__("CHIUDI")%></button>
                      <button type="button" class="btn btn-default" data-dismiss="modal" onclick="eraseComment()"><%=translation.__("ELIMINA")%></button>
                   </div>
                </div>
             </div>
          </div>
          <!-- Dialogo Modale per Modificare un Commento -->
          <div class="modal fade" id="myEditComment" role="dialog">
             <div class="modal-dialog modal-dialog-centered">
             <!-- Modal content-->
                <div class="modal-content">
                   <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title"><%=translation.__("MODIFICACOMMENTO")%></h4>
                   </div>
                   <div class="modal-body">
					  <span id="myEditId" style="display:none"></span>
                      <div class="row">
					    <div class="col-sm-4"><%=translation.__("USER")%></div>
						<div class="col-sm-8" id="myEditUser"></div>
					    <div class="col-sm-4"><%=translation.__("COMMENTO")%></div>
						<div class="col-sm-8" ><input id="myEditUserComment"></input></div>
					    <div class="col-sm-4"><%=translation.__("DATAORA")%></div>
						<div class="col-sm-8" id="myEditData"></div>
					    <div class="col-sm-4"><%=translation.__("POSIZIONE")%></div>
						<div class="col-sm-8" id="myEditPosizione"></div>
					  </div>
                   </div>
                   <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal"><%=translation.__("CHIUDI")%></button>
                      <button type="button" class="btn btn-default" data-dismiss="modal" onclick="editComment()"><%=translation.__("SALVA")%></button>
                   </div>
                </div>
             </div>
          </div>
          <!-- Fine dialoghi Modal -->
        </div>
        <!-- Visualizza la mappa -->
        <div class="col-md-9 my-second" id="MiaPosizioneMap">
        </div>
		<!-- Visualizza la tabella dei Commenti con il pulsante di mostra nascondi -->
        <div class="panel-group">
           <div class="panel panel-default">
              <div class="panel-heading">
			     </br>
                 <a data-toggle="collapse" href="#TabCommCollapse1" class="btn btn-outline-info""><%=translation.__("MOSTRATABELLACOMMENTI")%></a>
				 </br>
              </div>
              <div id="TabCommCollapse1" class="panel-collapse collapse">
                 <div class="row">
                    <div class="col-md-12 ">
                       <h2 class="text-center"><%=translation.__("ICOMMENTI")%></h2>
                    </div>
                    <div class="col-md-12 ">
                    <table width='100%' cellspacing='0' class='table table-striped'>
                       <thead>
				          <th><%=translation.__('COMMENTO')%></th>
				          <th><%=translation.__('LATLONG')%></th>
                          <th><%=translation.__('DATAORA')%></th>
                          <th><%=translation.__('USER')%></th>
                       </thead>
		               <tbody id="TabellaCommenti">
                       </tbody>
                       <tfoot>
				          <th><%=translation.__('COMMENTO')%></th>
				          <th><%=translation.__('LATLONG')%></th>
                          <th><%=translation.__('DATAORA')%></th>
                          <th><%=translation.__('USER')%></th>
                       </tfoot>
		            </table>		
                    </div>
		         </div>
              </div>
		   </div>
		  </div>
         </div> 		  
      </div>
    </div> 
    <script src="js/myroutine.js"></script>
    <script type="text/javascript">
	   //*********************************************************************
	   /*
	      Funzione eseguita al caricamento della pagina
	   */
       var doOperation = function() 
       {
	      try{
		     getLocation(showPosition);
	      }
	      catch(err)
	      {
	         alert("mapManage.ejs: "+err);
	      }
       };
	   //*********************************************************************
	   /*
	      Restituisce le coordinate attuali
		  Attenzione. getCurrentPosition() restituisce il valore solo dopo il consenso 
		  da parte dell'utilizzatore del dispositivo
	   */
       function getLocation(callback)
       {
	      try{
		     /*
			    //Forza una posizione per il debug
		     	var position={'coords':{'latitude':45.803,'longitude':11.4513}};
				showPosition(position);
			 */
	         if(navigator.geolocation)
	         {
			    //callback viene eseguita dopo che l'utente ha dato il consenso
				//ad accedere alla prorpia posizione
		        navigator.geolocation.getCurrentPosition(callback,errorPosition,{enableHighAccuracy: false,timeout: 10000,maximumAge: 10000});
	         }
	         else
	         {
		        var x=document.getElementById("mialatitudine");
		        //ERRORE-04 = GeoLocation non supportata!
		         x.innerHtmp=translation.__("ERRORE-04");
	         }
	      }
	      catch(err)
	      {
	         alert("mapManage::getLocation: "+err);
	      }
	      return;
       }
	   //*********************************************************************
	   /*
	      Mostra le coordinate e carica la mappa con la traccia la tabella 
		  dei commenti e i markers
		  
	   */
       function showPosition(position)
       {
	      try{
	         var txtCoord=parseFloat(position.coords.latitude).toFixed(2)+"° ";
	         if(position.coords.latitude >= 0)
	         {
                txtCoord=txtCoord+"Nord <br>";		    
	         }
	         else
	         {
                txtCoord=txtCoord+"Sud <br>";		    
	         }
	         document.getElementById("mialatitudine").innerHTML=txtCoord;
	         txtCoord=parseFloat(position.coords.longitude).toFixed(2)+"° ";
	         if(position.coords.longitude >= 0)
	         {
                txtCoord=txtCoord+"Est <br>";		    
	         }
	         else
	         {
                txtCoord=txtCoord+"Ovest <br>";		    
	         }
			 //Visualizza le coordinate attuali
	         document.getElementById("mialongitudine").innerHTML=txtCoord;
			 var title=getParameterByName('title');
			 var maptitle=getParameterByName('mapTitle');
			 //Carica la mappa il marker della posizione attuale e il tracciato
		     var data={'lat': position.coords.latitude,'lng':position.coords.longitude,'title':title,'maptitle':maptitle,'id_map':'MiaPosizioneMap','id_tab':'TabellaCommenti','showMarker':'SI','AJaxCallBack':'/getCommentiTracciaMarkers'};
			 ajaxCall(data);
	      }
	      catch(err)
	      {
	         alert("mapManage::showPosition: "+err);
	      }
	      return;
       }
	   //*********************************************************************
	   /*
	      Mostra l'errore che si è verificato
	   */
       function errorPosition(err)
       {
	      alert("main::errorPosition:\nError code:"+err.code+"\nError message: "+err.message);
	   }
	   //*********************************************************************
	   /*
	      Premuto il pulsante save del dialogo di inserimento del commento
	   */
	   function doComment()
	   {
	      try{
		     getLocation(saveComment);
		  }	 
	      catch(err)
	      {
	         alert("mapManage::doComment: "+err);
	      }
	      return;
	   }
	   //*********************************************************************
	   /*
	      Effettua una chiamata ajax per salvare il commento e ridisegnare
		  la tabella con i commenti e i tracciati nella mappa
	   */
	   function saveComment(position)
	   {
	      try{
	         var user=document.getElementById("currentUser").innerHTML;
	         var comment=document.getElementById("dialogcomment").value;
			 var title=getParameterByName('title');
			 var maptitle=getParameterByName('mapTitle');
		     var data={'user':user,'title':title,'maptitle':maptitle,'comment':comment,'lat': position.coords.latitude,'lng':position.coords.longitude,'id_tab':'TabellaCommenti','id_map':'MiaPosizioneMap','showMarker':'SI','AJaxCallBack':'/saveComment'};
			 ajaxCall(data);
		  }	 
	      catch(err)
	      {
	         alert("mapManage::saveComment: "+err);
	      }
	      return;
	   }
	   //*********************************************************************
	   /*
	      Effettuato un click per cancellare un commento
	   */
	   function clickDelete_TabellaCommenti(id_comment)
	   {
	      try{
		     //Fa una richiesta Ajax per avere i dati sul commento selezionato
             var xhttp = new XMLHttpRequest();
             xhttp.onreadystatechange = function() 
             {
                if (this.readyState == XMLHttpRequest.DONE && this.status == 200) 
	            {
                    $("#myDeleteComment").modal("show");				
                    $("#myDeleteComment").appendTo("body");					
                    var uluru = JSON.parse(this.responseText);
					var strTmp=" "+uluru.user;
                    document.getElementById('myDeleteUser').innerHTML=strTmp;
                    strTmp=" "+uluru.comment;
                    document.getElementById('myDeleteUserComment').innerHTML=strTmp;
		            var dataTmp = new Date(uluru.data);
					strTmp=" "+prefixZeros(dataTmp.getDate(),2)+"/"+prefixZeros(dataTmp.getMonth()+1,2)+"/"+dataTmp.getFullYear()+" "+dataTmp.getHours()+":"+dataTmp.getMinutes()+":"+dataTmp.getSeconds();
                    document.getElementById('myDeleteData').innerHTML=strTmp;
	                var txtLatCoord=parseFloat(uluru.lat).toFixed(2)+"° ";
	                if(uluru.lat >= 0)
	                {
                        txtLatCoord=txtLatCoord+"Nord <br>";		    
	                }
	                else
	                {
                       txtLatCoord=txtLatCoord+"Sud <br>";		    
	                }
	                var txtLngCoord=parseFloat(uluru.lng).toFixed(2)+"° ";
	                if(uluru.lng >= 0)
	                {
                       txtLngCoord=txtLngCoord+"Est <br>";		    
	                }
	                else
	                {
                       txtLngCoord=txtLngCoord+"Ovest <br>";		    
	                }
					strTmp=" "+txtLatCoord+" "+txtLngCoord;
					document.getElementById('myDeletePosizione').innerHTML=strTmp;
					document.getElementById('myDeleteId').innerHTML=uluru.id;
			    }
			 }; 	
             xhttp.open("POST","/getCommentbyId");
             xhttp.setRequestHeader("Content-Type", "application/json");   
			 var data={'id':id_comment}
             xhttp.send(JSON.stringify(data));   
		  }	 
	      catch(err)
	      {
	         alert("clickDelete_TabellaCommenti: "+err);
	      }
	      return;
	   }
	   //*********************************************************************
	   /*
	      Elimina il Commento Selezionato
	   */
	   function eraseComment()
	   {
	      try{
		     var id_str=document.getElementById('myDeleteId').innerHTML;
		     var data={'id':id_str};
             var xhttp = new XMLHttpRequest();
             xhttp.onreadystatechange = function() 
             {
                if (this.readyState == XMLHttpRequest.DONE && this.status == 200) 
	            {
				   doOperation();
			    }
			 }; 	
             xhttp.open("POST","/deleteCommentbyId");
             xhttp.setRequestHeader("Content-Type", "application/json");   
             xhttp.send(JSON.stringify(data));   
		  }	 
	      catch(err)
	      {
	         alert("eraseComment: "+err);
	      }
	      return;
	   }
	   //*********************************************************************
	   /*
	      Effettuato un click per modificare un commento
		  
		  id_comment e' l'id del commento
	   */
	   function clickEdit_TabellaCommenti(id_comment)
	   {
	      try{
		     //Fa una richiesta Ajax per avere i dati sul commento selezionato
             var xhttp = new XMLHttpRequest();
             xhttp.onreadystatechange = function() 
             {
                if(this.readyState == XMLHttpRequest.DONE && this.status == 200) 
	            {
                    $("#myEditComment").modal("show");	
                    $("#myEditComment").appendTo("body");					
                    var uluru = JSON.parse(this.responseText);
					var strTmp=" "+uluru.user;
                    document.getElementById('myEditUser').innerHTML=strTmp;
                    strTmp=" "+uluru.comment;
                    document.getElementById('myEditUserComment').value=strTmp;
		            var dataTmp = new Date(uluru.data);
					strTmp=" "+prefixZeros(dataTmp.getDate(),2)+"/"+prefixZeros(dataTmp.getMonth()+1,2)+"/"+dataTmp.getFullYear()+" "+dataTmp.getHours()+":"+dataTmp.getMinutes()+":"+dataTmp.getSeconds();
                    document.getElementById('myEditData').innerHTML=strTmp;
	                var txtLatCoord=parseFloat(uluru.lat).toFixed(2)+"° ";
	                if(uluru.lat >= 0)
	                {
                        txtLatCoord=txtLatCoord+"Nord <br>";		    
	                }
	                else
	                {
                       txtLatCoord=txtLatCoord+"Sud <br>";		    
	                }
	                var txtLngCoord=parseFloat(uluru.lng).toFixed(2)+"° ";
	                if(uluru.lng >= 0)
	                {
                       txtLngCoord=txtLngCoord+"Est <br>";		    
	                }
	                else
	                {
                       txtLngCoord=txtLngCoord+"Ovest <br>";		    
	                }
					strTmp=" "+txtLatCoord+" "+txtLngCoord;
					document.getElementById('myEditPosizione').innerHTML=strTmp;
					document.getElementById('myEditId').innerHTML=uluru.id;
			    }
			 }; 	
             xhttp.open("POST","/getCommentbyId");
             xhttp.setRequestHeader("Content-Type", "application/json");   
			 var data={'id':id_comment}
             xhttp.send(JSON.stringify(data));   
		  }	 
	      catch(err)
	      {
	         alert("clickEdit_TabellaCommenti: "+err);
	      }
	      return;
	   }
	   //*********************************************************************
	   /*
	      Aggiorna il Commento Selezionato
	   */
	   function editComment()
	   {
	      try{
		     var id_str=document.getElementById('myEditId').innerHTML;
			 var comment_str=document.getElementById('myEditUserComment').value;
		     var data={'id':id_str,'comment':comment_str};
             var xhttp = new XMLHttpRequest();
             xhttp.onreadystatechange = function() 
             {
                if (this.readyState == XMLHttpRequest.DONE && this.status == 200) 
	            {
				   doOperation();
			    }
			 }; 	
             xhttp.open("POST","/updateCommentbyId");
             xhttp.setRequestHeader("Content-Type", "application/json");   
             xhttp.send(JSON.stringify(data));   
		  }	 
	      catch(err)
	      {
	         alert("editComment: "+err);
	      }
	      return;
	   }
	   //*********************************************************************
	   /*
	      Rivisualizza la posizione 
	   */
	   function redisplayPosition()
       {
	      doOperation();
	   }	   
	   //Imposta un intervallo del timer pari ad 1 minuto
	   window.setInterval(redisplayPosition, 60000);
       window.onload= doOperation;	
	</script>   
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1QXRond8kCPr7sKf_9BQc5bcnA2hgUyQ&callback=initMap" async defer></script>
  <% include footer %>