<% include header %>
    <!-- Intestazione -->
    <div class="my-jumbotron-novegnopriafora">
      <div class="container">
        <h1 class="display-2 my-white">My Trekking</h1>
        <p class="my-white"><%=translation.__("INCIPIT")%></p>
      </div>
    </div>
	<!-- Vari campi che descrivono il percorso -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><%=translation.__("433-455-435")%></h2>
		  <br/>
        </div>
		<!-- Qui descrivo come arrivarci e pongo un riferimento alla mappa -->
		<div class="col-md-12 text-left">
		  <br/> 
          <h3><%=translation.__("COMEARRIVARCI")%></h3>
		</div>
		<div class="row">
           <div class="col-md-4">
		      <%=translation.__("COMEARRIVARCI-2")%>
           </div>
           <div class="col-md-8 my-second" id="ComeArrivareCerbaro" >
           </div>
		   <div class="col-md-12 text-right">
		     <br/>
		     <%=translation.__("PERCORSOPARTENZA")%>
		     <br/>
		     <br/>
		   </div>
	    </div>
        <div class="row">
		   <div class="col-md-12 text-left">
		      <br/> 
              <h3><%=translation.__("DESCRIZIONEPERCORSO")%></h3>
		   </div>
           <div class="col-md-8">
		      <%=translation.__("CALTRANOSUNIOCOSTOLA")%>
		      <%=translation.__("CALTRANOSUNIOCOSTOLA1")%>
		      <%=translation.__("CALTRANOSUNIOCOSTOLA2")%>
		      <%=translation.__("CALTRANOSUNIOCOSTOLA3")%>
           </div>
           <div class="col-md-4 text-center">
		      <figure>
			  <img src='/images/BocchettaPau.jpg' class="img-thumbnail" alt="Bocchetta Pau'" > 
			  <br/>
			  <figcaption> Bocchetta Pau' <figcaption>
			  </figure>
           </div>
        </div>
        <div class="row">
           <div class="col-md-8">
		      <%=translation.__("CALTRANOSUNIOCOSTOLA4")%>
		      <%=translation.__("CALTRANOSUNIOCOSTOLA5")%>
		      <%=translation.__("CALTRANOSUNIOCOSTOLA6")%>
           </div>
           <div class="col-md-4 text-center">
		      <figure>
			  <img src='/images/RifugioBarAlpino.jpg' class="img-thumbnail" alt="Rifugio Bar Alpino" > 
			  <br/>
			  <figcaption> Rifugio Bar Alpino <figcaption>
			  </figure>
           </div>
        </div>
        <div class="row">
           <div class="col-md-8">
		      <%=translation.__("CALTRANOSUNIOCOSTOLA7")%>
           </div>
           <div class="col-md-4 text-center">
		      <figure>
			  <img src='/images/MalgaSunio.jpg' class="img-thumbnail" alt="Malga Sunio" > 
			  <br/>
			  <figcaption> Malga Sunio <figcaption>
			  </figure>
           </div>
        </div>
		<div class="col-md-12 text-left">
		   <br/> 
           <h3><%=translation.__("DETTAGLIPERCORSO")%></h3>
		</div>
        <div class="row">
           <div class="col-md-8">
		      <ul>
		         <li><%=translation.__("CALTRANOSUNIOCOSTOLA8")%></li>
		         <li><%=translation.__("CALTRANOSUNIOCOSTOLA9")%></li>
		         <li><%=translation.__("CALTRANOSUNIOCOSTOLA10")%></li>
			  </ul>
           </div>
           <div class="col-md-4 text-center">
		      <figure>
			  <img src='/images/ProfiloCostolaSunio.jpg' class="img-thumbnail" alt="Profilo Altimetrico Costola Sunio" > 
			  <br/>
			  <figcaption><%=translation.__("PROFILOALTIMETRICO")%><figcaption>
			  </figure>
           </div>
        </div>
        <div class="col-md-12 text-center">
		         <h3><%=translation.__("TRACCIATOPERCORSO")%></h3>
        </div>
        <div class="col-md-12 my-second" id="TracciatoNovegnoPriafora">
        </div>
      </div>
    </div> 
    <script src="js/myroutine.js"></script>
    <script type="text/javascript">
       var loadMap = function() 
       {
	      try{
		     //Definisci il punto di Vista
		     var data={'mapValue':{'title':'PartenzaCerbaro', 'maptitle':'NovegnoPriafora'},'id':'ComeArrivareCerbaro','showMarker':'SI','AJaxCallBack':'/getGeoPoints'};
		     //Fa una chiamata ajax per richiedere le coordinate
		     ajaxCall(data);
			 //Carica la mappa del tracciato
		     data={'mapValue':{'title':'435480455433PLT','maptitle':'NovegnoPriafora'},'id':'TracciatoNovegnoPriafora','showMarker':'NO','AJaxCallBack':'/getGeoTrace'};
		     //Fa una chiamata ajax per richiedere le coordinate
		     ajaxCall(data);
	      }
	      catch(err)
	      {
	         alert(err);
	      }
       };
       window.onload= loadMap;	
	</script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1QXRond8kCPr7sKf_9BQc5bcnA2hgUyQ&callback=initMap" async defer></script>
  <% include footer %>