<% include header %>
    <div class="my-jumbotron-signup">
      <div class="container">
        <h1 class="display-2 my-white">My Trekking</h1>
        <p class="my-white"><%=translation.__("INCIPIT")%></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
           <h1><%=translation.__("ISCRIZIONE")%></h1>
	    </div>
        <div class="col-md-4">
           <form action="/signedit" method="post">
              <input name="username" type="text" class="form-control my-sm-1" placeholder="Username" required autofocus>
              <input name="password" type="password" class="form-control my-sm-1" placeholder="Password" required>
              <input type="submit" value="<%=translation.__("ISCRIZIONE")%>" class="btn btn-outline-success my-2 my-sm-2">
           </form>
		</div> 
        <div class="col-md-4">		
		   <img class="img-responsive center-block" id="pictureuser">
		   <div>
		      <button id="takepicture" class="btn btn-outline-success my-2 my-sm-2"><%=translation.__("SCATTAFOTO")%></button>
			  <input accept="image/*"  class="btn btn-outline-success my-2 my-sm-2" type="file" id="selectpicture" onchange="" />
			  <!---
		      <button id="selectpicture" class="btn btn-outline-success my-2 my-sm-2" ><%=translation.__("SELEZIONAFOTO")%></button>
			  --->
		   </div>
		</div>
	  </div> 
    </div>	
	<script src="js/myroutine.js"></script>
    <script type="text/javascript">
	   //Acquisice la foto dell'utente
       var loadUserPicture = function() 
       {
	      try{
		     //Carica la foto dell'utente
		     var data={'username':'new-undef','id':'pictureuser','AJaxCallBack':'/getUserPicture'};
		     //Fa una chiamata ajax per richiedere le coordinate
		     ajaxCall(data);
	      }
	      catch(err)
	      {
	         alert(err);
	      }
       };
       window.onload= loadUserPicture;	
    </script>	
 <% include footer %>
